.container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 0 auto;border: 10px solid black;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: calc( 800px * 3 );
    animation-name: slide;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function : linear
    
}

.slide img {
    width: 800px;
    height: 400px;
    float: left;
}

@keyframes slide {
    0% { left: 0; }
    10% { left: 0; }
    45% { left: calc(-800px * 1); }
    55% { left: calc(-800px * 1); }
    90% { left: calc(-800px * 2); }
    100% { left: calc(-800px * 2); }
}