/* 헤더 */
header { 
    height: 100px; 
    border-bottom: 1px solid #ddd;
}

/* 로고 */
#logo { width: 220px; height: 100%; }
#logo img { width: 130px; height: 100%; }

/* 버튼 */
.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--main-color);
    color: white;
    border-radius: 8px;
}
section {
    min-height: var(--sec-min-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ############### 섹션1 ############### */
section#main {
    background: url(../img/메인섹션.png);
    height: 680px;
}
section#main .title {
    color: var(--accent-color);
    font-weight: bold;
}
section#main .container {
    position: relative;
}
section#main .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img#main-1 {
    width: 230px; height: 230px;
    transform: rotate(25deg);
}
img#main-2 {
    width: 230px; height: 230px;
    transform: rotate(-25deg);
}
img#main-3 {
    width: 380px; height: 380px;
    transform: rotate(-5deg);
}
img#main-4 {
    width: 330px; height: 330px;
}
/* ############### 섹션1 ############### */

/* ############### 섹션2 ############### */
section.card-view {
    height: 1220px;
    background-color: var(--main-color);
}

section.card-view .card-sec {
    width: 360px;
}
section.card-view .card-sm-sec {
    width: 360px;
    height: 215px;
}

section.card-view .card-lg {
    width: 555px;
    height: 728px;
}
section.card-view .card-md {
    width: 100%;
    height: 493px;
}
section.card-view .card-md a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
section.card-view .card-md img {
    height: 100%;
    object-fit: cover;
}

section.card-view .card-sm {
    width: 170px;
    height: 215px;
}
section.card-view .card-sm a {
    height: 100%;
}
section.card-view .card-sm img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    transition: all 0.4s;
    background-color: rgba(255,255,255,0.5);
}

.card:hover {
    transform: translateY(-40px);
    box-shadow: 15px 15px 15px rgba(0,0,0,0.25);
}

.card-lg img, .card-md img, .card-sm img {
    width: 100%;
    max-height: 100%;
}


/* END ############### 섹션2 ############### */

/* START ############### 섹션3 ############### */

/* END ############### 섹션3 ############### */

















































































































































































































































.agree-text {
    font-size: 24px;
}
.color-accent {
    color : var(--accent-color);
    font-weight: bold;
}
#join-floating {
    position: fixed;
    left: 50px;
    bottom: 150px;
}



































