* { margin: 0; padding: 0; box-sizing: border-box; }

.background {
    /* --- 크기 관련 --- */
    height: 800px;
    margin: 600px auto;

    /* --- 배경 관련 --- */
    background-attachment: fixed;             /* 고정 이미지 */
    background-position: center;
    background-size: cover;
    background-color: lightblue;
    background-image: url(../img/background.jpg);

    /* --- 텍스트 관련 --- */
    /* 텍스트 마스크 속성 */
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    text-align: center;
    font-size: 200px;
    font-weight: bold;

    /* --- 배치 관련 --- */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .wrapper {
    background-color: black;
} */