/* position : relative; */
.container .relative {
    position: relative;
    border: 3px solid black;
}

/* relative */
.first { left: 100px; }
.second { right: 100px; }
.third { top: 100px; right: 200px; }
.fourth { bottom: 100px; left: 200px; }
